*blx.bib
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.bcf
*.fdb_latexmk
*.fls
*.lol
example-thesis/cleanthesis.sty
ice-reservoirs/air-thesis.pdf
misc/*
dist
*.out.ps
*.dvi
*.synctex*
*.acn
*.glo
*.ist
*.gls*
*Zone*
